[submodule "yasnippet-go"]
	path = yasnippet-go
	url = https://github.com/dominikh/yasnippet-go.git
[submodule "goflymake"]
	path = goflymake
	url = https://github.com/dougm/goflymake
[submodule "magit-toolbar"]
	path = magit-toolbar
	url = https://github.com/totherme/magit-toolbar
[submodule "from-the-net/dimmer.el"]
	path = from-the-net/dimmer.el
	url = https://github.com/gonewest818/dimmer.el.git
