[submodule "yasnippet-go"]
	path = yasnippet-go
	url = https://github.com/dominikh/yasnippet-go.git
[submodule "goflymake"]
	path = goflymake
	url = https://github.com/dougm/goflymake
[submodule "magit-toolbar"]
	path = magit-toolbar
	url = https://github.com/totherme/magit-toolbar
